<div class="container main-container">
    <h4>Lista Resp. Técnicos</h4>
    <hr />
    <div style="float: right;">
        <button class="btn btn-dark" [routerLink]="['/respTecnico/criar']">Cadastrar</button>
        <button class="btn btn-dark" [routerLink]="['/respTecnico/editar', respTecnicoSelecionado]"
            [disabled]="!respTecnicoSelecionado">Editar</button>        
        <button class="btn btn-dark" (click)="abrirConfirmacao(modalExclusao)"
            [disabled]="!respTecnicoSelecionado">Excluir</button>
    </div>
    <br>
    <br>
    <table class="table table-striped" data-click-to-select="true">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">CREA</th>
                <th scope="col">Cidade</th>
                <th scope="col">Telefone</th>
                <th scope="col">Celular</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let respTecnico of listaRespTecnicos">
                <td>
                    <div class="custom-control">
                        <input type="radio" name="flexRadioDefault" class="custom-control-input" id="customRadio"
                            value="{{ respTecnico.id }}" [(ngModel)]="respTecnicoSelecionado">
                    </div>
                </td>
                <td>{{ respTecnico.id }}</td>
                <td>{{ respTecnico.nome }}</td>
                <td>{{ respTecnico.crea }}</td>
                <td>{{ respTecnico.cidade }}</td>
                <td>{{ respTecnico.telefone1 }}</td>
                <td>{{ respTecnico.telefone2 }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="atualizar()">
        </ngb-pagination>
    </div>

</div>

<ng-template #modalExclusao let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Excluir Resp. Técnico</h4>
    </div>
    <div class="modal-body">
        Deseja realmente excluir esse Resp. Técnico?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Excluir')">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cancelar')">Cancelar</button>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>