<div class="container main-container">
    <h4>Lista Quadras</h4>
    <hr />
    <div style="float: right;">
        <button class="btn btn-dark" [routerLink]="['/quadra/criar',id]">Cadastrar</button>
        <button class="btn btn-dark" [routerLink]="['/quadra/editar', quadraSelecionado]"
            [disabled]="!quadraSelecionado">Editar</button>
        <button class="btn btn-dark" (click)="abrirConfirmacao(modalExclusao)"
            [disabled]="!quadraSelecionado">Excluir</button>
    </div>
   
</div>

<ng-template #modalExclusao let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Excluir Quadra</h4>
    </div>
    <div class="modal-body">
        Deseja realmente excluir esse Quadra?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Excluir')">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cancelar')">Cancelar</button>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
