<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li>
            <a [routerLink]="['/home']">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/produtor/listar']">
                <i class="fas fa-user-check" aria-hidden="true"></i> Produtores
            </a>
        </li>
        <li>
            <a [routerLink]="['/respTecnico/listar']">
                <i class="fas fa-user-check" aria-hidden="true"></i> Resp. Técnicos
            </a>
        </li>
        <li>
            <a [routerLink]="['/cultivar/listar']">
                <i class="fas fa-tree"></i> Cultivares
            </a>
        </li>
    </ul>
</div>

<div class="content-container">
    <div class="container-fluid">

        <router-outlet></router-outlet>

    </div>
</div>